* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  font-size: 1.6rem;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

input, button, select, a, textarea {
  font-size: inherit;
  font-family: inherit;
}